################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dqt.datalayer/obj
/dqt.domain/obj
/claim-additional-payments-for-teaching-qts-api/obj
