# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*terraform.lock*

# Crash log files
crash.log

# Mac finder preferences
.DS_Store

# Visual studo code local configuration
.vscode
