################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/dqt.datalayer/obj
/dqt.domain/obj
/claim-additional-payments-for-teaching-qts-api/obj
/claim-additional-payments-for-teaching-qts-api/bin/Debug/netcoreapp3.1
/dqt.domain/bin/Debug/netcoreapp3.1
/dqt.datalayer/bin/Debug/netcoreapp3.1
